/*登录页面开始*/
.login_page{
	text-align: center;
}
.login_page h1{
    color: #0c82d9;;
    text-align: center;
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 20px;
    margin: 100px 0 20px  ;
    text-align: center; 
}
.login_page .btn01{	
      width: 226px;
      height: 42px;
      background:#2264af;
      color: #fff;
      line-height: 42px;
      font-size: 16px;	
}
.login_page .btn02{	
      width: 226px;
      height: 42px;
      background:#ccc;
      color:#fff ;
      line-height: 42px;
      font-size: 16px;	
}
.login_page form .phone{
	padding-left: 40px;
    width: 258px;
    height: 30px;
    line-height: 30px;
    border:1px solid #e7e7e7;
    margin: 40px 0 10px 0;
    
}
.login_page form .pass{
	padding-left: 40px;
    width: 258px;
    height: 30px;
    line-height: 30px;
    border:1px solid #e7e7e7;
    margin: 10px 0 20px 0;
    
}

.login_page form>button{
	width: 300px;
    height: 39px;
    line-height: 39px;
    border: 0;
    margin-bottom: 10px;
    background-color: #0c82d9;
    color: #fff;
    font-size: 15px;
    cursor: pointer; 
          	
}
.login_page form .login_bottom{
	font-size:12px;
	margin-bottom: 30px;
}
.login_page i{
	font-size: 14px;
	color:#b0b0b0;
	margin-top: 40px;
	
}
