/*轮播图开始*/

.nav{
    width: 1240px;
    height:460px;
}
/*轮播图下边的商品列表*/
.home_show{
    width: 1245px;
    height: 170px;
    border-bottom: 1px solid #dfdfdf;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.home_show_list{
    float: left;
    position: relative;
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
    border-left: none;
}
.list01{
    border-left: 1px solid #dfdfdf;
}
.home_show_list a{
    width: 412px;
    height: 170px;
   display: block;
}
/* 热卖单品 */
.hotgoods{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
}
.hotgoods h2{
    font-size: 25px;
    font-weight: bold;
    height: 77px;
    line-height: 77px;
    padding: 0;
    margin-top: 0px;
}
/* 新品上市 */
.newgoods{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
}
.newgoods h2{
    font-size: 25px;
    font-weight: bold;
    height: 77px;
    line-height: 77px;
    padding: 0;
    margin-top: 0px;
}
/* 特价商品 */
.salesgoods{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
}
.salesgoods h2{
    font-size: 25px;
    font-weight: bold;
    height: 77px;
    line-height: 77px;
    padding: 0;
    margin-top: 0px;
}